<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="welcome-text">
            <h1>
                Predict Your <span>Future</span></h1>
            <a href="/checkEligibility">Check Eligibility</a>
        </div>
    </header>

</body>

</html>